<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!update">Create Note</ion-title>
    <ion-title *ngIf="update">Edit Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Note Form</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="noteForm" (ngSubmit)="uploadNote()">

    <ion-item>
      <ion-label color="dark" position="floating">Title</ion-label>
      <ion-input color="dark" formControlName="title" type="text" [value]="note.title"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="getFormControl('title')?.hasError('required') && getFormControl('title')?.touched">
      A title is required.
    </ion-note>
    <ion-note color="danger" *ngIf="getFormControl('title')?.hasError('maxLength') && getFormControl('title')?.touched">
      Title cannot exceed 128 characters.
    </ion-note>

    <ion-item>
      <ion-label color="dark" position="floating">Content</ion-label>
      <ion-textarea color="dark" formControlName="content" [value]="note.content"></ion-textarea>
    </ion-item>
    <ion-note color="danger" *ngIf="getFormControl('content')?.hasError('required') && getFormControl('content')?.touched">
      A title is required.
    </ion-note>
  
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-button *ngIf="!update" expand="full" type="submit" [disabled]="!noteForm.valid">Create</ion-button>
          <ion-button *ngIf="update" expand="full" type="submit" [disabled]="!noteForm.valid">Update</ion-button>      
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
