<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col m>
        <!--
          <ion-img
            src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Notas.png"
            alt="An app icon depicting some notes"
          ></ion-img>
        -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">  <ion-button expand="block" (click)="gotoUrl('/my-notes')">Show all notes</ion-button></ion-col>
      <ion-col style="text-align: center;">  <ion-button expand="block" (click)="gotoUrl('/note-form')">New note</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
